
:root {
  --paradise-pink:#ea526f;
  --candy-pink:#e76b74;
  --earth-yellow:#d7af70;
  --shadow:#937d64;
  --davys-grey:#585b56;
}

body {
  color: var(--davys-grey);
  font-family: Calibri;
}

.main-title {
  margin-top: 20px;
}

h1 {
  color: var(--candy-pink);
}

.section-title {
  margin: 10px 0px 20px 0px;
}

h3 {
  color: var(--candy-pink)
}

th.th-col-head {
  color: var(--paradise-pink);
}

hr {
  border: 1px solid var(--shadow);
}

b {
  color: var(--candy-pink)
}

li {
  color: var(--earth-yellow)
}


/*********************************

CUSTOM STYLES

*********************************/

#worldVis {
  height: 50vh;
  width: 100wh;
}

#top5hyper, #commodityinflation, #firstincrease {
  height: 75vh;
  width: 75wh;
}

/*********************************

ANDREW

*********************************/

#commodityinflation {
  margin-left:0px;
  width:100%;
}

/*********************************

SAHIL

*********************************/

.legend-text {
  font-size: 12px;
}

.legend-text:hover, .legend-rect:hover {
  cursor: pointer;
}

.brush-path {
  fill: var(--davys-grey);
  stroke: var(--earth-yellow);
}

/*********************************

JANICE

*********************************/

.bigger {
  font-size: 32px;
  color: var(--candy-pink)
}

.bold {
  font-weight: bold;
  color: var(--candy-pink)
}

.x-axis {
  font-size: 12px;
}

.y-axis {
  font-size: 12px;
}

h5 {
  font-weight: bold;
  text-decoration: underline;
}

div{
  margin-bottom: 10px;
}
