
:root {
  --paradise-pink:#ea526f;
  --candy-pink:#e76b74;
  --earth-yellow:#d7af70;
  --shadow:#937d64;
  --davys-grey:#585b56;
}

body {
  color: var(--davys-grey);
  font-family: Calibri;
}

.main-title {
  margin-top: 20px;
}

h1 {
  color: var(--candy-pink);
}

.section-title {
  margin: 10px 0px 20px 0px;
}

h3 {
  color: var(--candy-pink)
}

th.th-col-head {
  color: var(--paradise-pink);
}

hr {
  border: 1px solid var(--shadow);
}

b {
  color: var(--candy-pink)
}

li {
  color: var(--earth-yellow)
}

.attribution {
  font-color: var(--davys-grey);
  font-size: 10px;
  font-style: italic;
}

.attribution a {
  font-color: var(--davys-grey);
  font-size: 10px;
  font-style: italic;
}

.container, .container-fluid {
  color: var(--davys-grey);
  font-family: Calibri;
  font-size: 12px;
  text-transform: none;
  text-align: left;
}

.container a, .container-fluid a {
  color: var(--davys-grey);
  font-family: Calibri;
  font-size: 12px;
  text-transform: none;
  text-align: left;
  text-decoration: underline;
}

.container a:hover, .container-fluid a:hover {
  color: var(--davys-grey);
  font-family: Calibri;
  font-size: 12px;
  text-transform: none;
  text-align: left;
  text-decoration: underline;
  font-weight: bold;
}

/*********************************

CUSTOM STYLES

*********************************/

#worldVis {
  height: 50vh;
  width: 100wh;
}

#top5hyper, #commodityinflation, #firstincrease {
  height: 75vh;
  width: 75wh;
}

/*********************************

ANDREW

*********************************/

#commodityinflation {
  margin-left:0px;
  width:100%;
}

.linechart-tooltip {
  position: absolute;
	top: 0px;
	left: 0px;
  border: thin solid var(--davys-grey);
  border-radius: 5px;
  background: white;
  padding: 2px;
  font-size: 12px;
  color: var(--davys-grey);
}

/*********************************

SAHIL

*********************************/

.legend-text {
  font-size: 12px;
}

.legend-text:hover, .legend-rect:hover {
  cursor: pointer;
}

.legend-text-inactive {
  font-size: 12px;
}

.legend-text-inactive:hover {
  font-size: 13px;
  font-weight: bold;
  fill: var(--paradise-pink);
}

.legend-title {
  font-size: 13px;
  font-weight: bold;
  fill: var(--paradise-pink);
}

.brush-path {
  fill: var(--davys-grey);
  stroke: var(--earth-yellow);
}

.year-line {
  stroke: var(--davys-grey);
  stroke-width: 2;
  stroke-dasharray: 2;
}

.tooltip-holder {
  border: thin solid var(--davys-grey);
  border-radius: 5px;
  background: white;
  padding: 2px;
  font-size: 12px;
  color: var(--davys-grey);
}

.tooltip-holder > .emphasis {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

#inflation_selector {
  /*display: none;*/
}

.bubbleVisIncomeText {
  fill: grey;
}

.bubbleVisExpenseText {
  fill: red;
}

.bubbleVisSavingsText {
  fill: green;
}

/*********************************

JANICE

*********************************/

.bigger {
  font-size: 32px;
  color: var(--candy-pink)
}

.bold {
  font-weight: bold;
  color: var(--candy-pink)
}

.x-axis {
  font-size: 12px;
}

.y-axis {
  font-size: 12px;
}

h5 {
  font-weight: bold;
}

div{
  margin-bottom: 10px;
}

.info-style {
  font-size: 18px;
  color: grey;
  align-content: start;
}

.tooltip {
  font-size: 12px;
}

/*********************************
MEET THE TEAM
*********************************/


.card {
  width:80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.meet-team {
  padding:50px 100px;
}

.main-container {
  height:60vh;
  vertical-align: center;
}

.header-border {
  width: 100%;
  margin-bottom: 10px;
  border: var(--paradise-pink) solid 3px;
  border-radius: 10px;

}

.heading > span, .heading-subtitle > span {
  background-color: white;
  box-shadow: white 11px 0px 0px,
  white -13px 0px 0px;
  color: var(--davys-grey);
}

.heading, .heading-subtitle {
  text-align: center;
  margin-top: -30px
}